<mat-toolbar color="primary" style="margin-bottom: 20px">
  <mat-toolbar-row>
    <h2 mat-dialog-title>Создать новое объявляение</h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field class="form-field-long">
    <mat-label>Тип объявляения</mat-label>
    <mat-select formControlName="advertType">
      <mat-option value="HOUSE_SEARCH">
        Поиск жилья
      </mat-option>
      <mat-option value="HOUSE_PROVISION">
        Предоставление жилья
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="form-field-long">
    <mat-label>Заголовок</mat-label>
    <input matInput formControlName="header" required>
  </mat-form-field>
  <br>
  <mat-form-field class="form-field-long">
    <mat-label>Текст объявления</mat-label>
    <textarea matInput formControlName="message" required></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="form-field-long">
    <mat-label>Количество людей</mat-label>
    <input matInput type="number" min="1" formControlName="peopleNumber">
  </mat-form-field>
  <br>
  <span>
    <mat-form-field>
      <mat-label>Старана</mat-label>
      <input matInput formControlName="country" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Город</mat-label>
      <input matInput formControlName="city" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дом</mat-label>
      <input matInput formControlName="home" required>
    </mat-form-field>
  </span>
  <br>
  <mat-form-field class="form-field-half">
    <mat-label>Дата прибытия</mat-label>
    <input matInput formControlName="arrivingDateResolved" [min]="currentDate" (dateChange)="changeArrDate('change-arr', $event)" [matDatepicker]="pickerArr">
    <mat-datepicker-toggle matSuffix [for]="pickerArr"></mat-datepicker-toggle>
    <mat-datepicker #pickerArr></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="form-field-half">
    <mat-label>Дата отъезда</mat-label>
    <input matInput formControlName="checkOutDateResolved" [min]="currentArrivalDate" (dateChange)="changeDeprtDate('change-deprt', $event)" [matDatepicker]="pickerDeprt">
    <mat-datepicker-toggle matSuffix [for]="pickerDeprt"></mat-datepicker-toggle>
    <mat-datepicker #pickerDeprt></mat-datepicker>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Отменить</button>
    <button mat-raised-button color="primary" [disabled]="confirmButtonDisabled" (click)="submit()">Создать</button>
  </mat-dialog-actions>
</mat-dialog-content>
