<fieldset class="rating" [id]="id">
  <legend></legend>
  <ng-container *ngFor="let buttonNumber of buttonEnumeration;">
    <input type="radio" [id]="'button' + buttonNumber + id" [name]="id" [defaultChecked]="buttonDefaultValueEnumeration[buttonNumber]" (click)="emit(buttonNumber)"/>
    <label [class] = "buttonNumber % 2 === 0 ? 'half' : 'full'" [for]="'button' + buttonNumber + id"></label>
  </ng-container>
</fieldset>
