<mat-card [class.mat-elevation-z6]="true">
  <mat-card-header>
    <mat-card-title>
      <div *ngIf="advert?.advertType == AdvertType.HOUSE_SEARCH" style="color: blue">
        Ищу
      </div>
      <div *ngIf="advert?.advertType == AdvertType.HOUSE_PROVISION" style="color: blue">
        Сдам
      </div>
      {{advert?.header}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-card-subtitle>Дата создания:</mat-card-subtitle>
      {{advert?.publicationDateResolved | date: 'dd-MMM-yyyy' : 'UTC+7' : 'RU-ru'}}
    </p>
    <p>
      <mat-card-subtitle>Пользователь, создавший объявляение:</mat-card-subtitle>
      <a mat-button [routerLink]="['/info', (advert != null ? advert.owner.username: '')]" target="_blank">@{{advert?.owner.username}}</a>
    </p>
    <p>
      <mat-card-subtitle>Адрес:</mat-card-subtitle>
      {{advert?.place.country}}, {{advert?.place.city}}, {{advert?.place.home}}
    </p>
    <p>
    <mat-card-subtitle>Комментарий:</mat-card-subtitle>
      {{advert?.message}}
    </p>
    <p>
      <mat-card-subtitle>Количество гостей:</mat-card-subtitle>
      {{advert?.peopleNumber}}
    </p>
    <p>
      <mat-card-subtitle>Дата прибытия:</mat-card-subtitle>
      {{advert?.arrivingDateResolved | date: 'dd-MMM-yyyy' : 'UTC+7' : 'RU-ru'}}
    </p>
    <p>
      <mat-card-subtitle>Дата отъезда:</mat-card-subtitle>
      {{advert?.checkOutDateResolved | date: 'dd-MMM-yyyy' : 'UTC+7' : 'RU-ru'}}
    </p>
    <p>
      <app-subscribers [users]="advert?.subscribers"></app-subscribers>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="margin: 5px" color="primary" (click)="subscribe()">
      Откликнуться
    </button>
  </mat-card-actions>
</mat-card>
<mat-card [class.mat-elevation-z4]="true" *ngIf="authService.authorized">
  <mat-card-subtitle>
    Новый комментарий
  </mat-card-subtitle>
  <mat-card-content [formGroup]="formGroup">
    <mat-form-field style="width: 100%">
      <mat-label>Сообщение</mat-label>
      <input matInput #message maxlength="256" formControlName="message">
      <mat-hint align="end">{{message?.value.length}} / 256</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button style="margin: 5px" color="primary" [disabled]="!formGroup.valid" (click)="addComment()">
      Отправить
    </button>
  </mat-card-actions>
</mat-card>
<mat-card [class.mat-elevation-z4]="true">
  <mat-card-header>
    <mat-card-title>
      Комментарии
    </mat-card-title>
  </mat-card-header>
  <mat-card [class.mat-elevation-z3]="true" *ngFor="let comment of comments">
    <mat-card-header>
      <mat-card-title>
        <a mat-button [routerLink]="['/info', comment.author.username]" target="_blank">@{{comment?.author.username}}</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{comment?.message}}
    </mat-card-content>
  </mat-card>
</mat-card>
