<mat-card-subtitle>Подписчики:</mat-card-subtitle>
<span *ngIf="users == null || users.length < 1">
  Никого нет :(
</span>
<span *ngFor="let user of users">
  <app-mini-info [user]="user"></app-mini-info>
</span>
