<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <mat-label>Couch Surf</mat-label>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button class="toolbar-button" color="accent" (click)="addAdvertAction()" *ngIf="authService.authorized">
      <mat-icon style="font-size: 23px">add_circle</mat-icon>
      <mat-label style="vertical-align: center"> Добавить объявление</mat-label>
    </button>
    <button mat-raised-button class="toolbar-button" color="accent" (click)="registerButtonAction()" *ngIf="!authService.authorized">
      <mat-label>Зарегестрироваться</mat-label>
    </button>
    <button mat-raised-button class="toolbar-button" color="accent" (click)="loginButtonAction()">
      <mat-label *ngIf="!authService.authorized">Войти</mat-label>
      <mat-label *ngIf="authService.authorized">Выйти</mat-label>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
