<mat-card class="mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>Поиск объявлений</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field style="margin-left: 15px">
      <mat-label>
        Тип объявления
      </mat-label>
      <mat-select [(value)]="filterType" (valueChange)="click()">
        <mat-option [value]="null">
          Все
        </mat-option>
        <mat-option [value]="AdvertType.HOUSE_SEARCH">
          Поиск жилья
        </mat-option>
        <mat-option [value]="AdvertType.HOUSE_PROVISION">
          Сдача жилья
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-table [dataSource]="dataSource">

      <div *ngFor="let column of columns">
      <ng-container matColumnDef="{{column.key}}">
        <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
        <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
      </ng-container>
      </div>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [routerLink]="['/advert', element.adId]" style="margin-top: 10px">Подробнее</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
      <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
    </mat-table>
    <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="paginatorChange($event)" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
