/* You can add global styles to this file, and also import other style files */
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image : url(back.png);
}

.form-field-long {
  min-width: 100%;
}

.form-field-half {
  min-width: 50%;
}

.mat-card {
  margin: 3%;
  max-width: 94%;
}
