<mat-toolbar color="primary" style="margin-bottom: 20px">
  <mat-toolbar-row>
    <h2 mat-dialog-title>Введите логин/пароль</h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field class="form-field-long">
    <mat-label>Имя пользователя</mat-label>
    <input matInput formControlName="username" required>
  </mat-form-field>
  <br>
  <mat-form-field class="form-field-long">
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Отмена</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">Войти</button>
</mat-dialog-actions>
