<mat-card [class.mat-elevation-z6]="true">
  <mat-card-header>
    <div mat-card-avatar class="user-avatar"></div>
    <mat-card-title>
      @{{user?.username}}
    </mat-card-title>
    <mat-card-subtitle>
      Возраст: {{user?.age}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true" style="margin: 10px"></mat-divider>
  <mat-card-content>
    <div>
      <mat-card-subtitle>Имя пользователя:</mat-card-subtitle>
      {{user?.username}}
    </div>
    <div>
      <mat-card-subtitle>Возраст:</mat-card-subtitle>
      {{user?.age}}
    </div>
    <div style="height: 80px">
      <mat-card-subtitle>Оценить "принимающего":</mat-card-subtitle>
      <app-star-rating [currentRating]="user.houseProvisionRating / user.houseProvisionRatingsNum" [maxRating]="5" [id]="'hc'" (action)="consumeHcRatingChange($event)"></app-star-rating>
      <mat-label>Основано на {{user?.houseProvisionRatingsNum}} оценках </mat-label>
    </div>
    <div style="height: 80px">
      <mat-card-subtitle>Оценить "гостя":</mat-card-subtitle>
      <app-star-rating [currentRating]="user.couchSerferRating / user.couchSerferRatingsNum" [maxRating]="5" [id]="'cs'" (action)="consumeCsRatingChange($event)"></app-star-rating>
      <mat-label>Основано на {{user?.couchSerferRatingsNum}} оценках</mat-label>
    </div>
  </mat-card-content>
</mat-card>
